/* Error: expected ";".
 *   ,
 * 1 | @import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet";
 *   |                                                                                                                   ^
 *   '
 *   scss\_fonts.scss 1:115    @import
 *   scss\estiloSass.scss 2:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 1 \2502  @import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet";\d\a   \2502                                                                                                                    ^\a   \2575 \a   scss\\_fonts.scss 1:115    @import\a   scss\\estiloSass.scss 2:9  root stylesheet';
}
