$color_1: rgb(255, 255, 255);
$color_2: #ff8800;
$color_3: #ffffff;
$color_4: #d2d264;
$color_5: rgb(0, 0, 0);
$color_6: #000000;
$font-family_1: 'Bebas Neue', cursive;
$font-family_2: 'Racing Sans One';
$font-family_3: 'Roboto Slab', serif;
$background-color_1: black;
$background-color_2: #d2d264;
$background-color_3: #ffffff;
$background-color_4: #c2c2c2;
$background-color_5: #f8f9fa;
$background-color_6: white;
$background-color_7: transparent;
